CLICKHOUSE_HOST=
CLICKHOUSE_PORT=
CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=

REDIS_HOST=
REDIS_PORT=

DATA_DIR=data/raw

# Streamlit-дашборд (опционально, по умолчанию http://localhost:8000)
API_URL=
